<h2>New URL</h2>

<%= render "form_content.html", backlink: ~p"/#{@user}/slugs", changeset: @changeset,
                        action: ~p"/#{@user}/slugs" %>

<%= link "Back", to: ~p"/#{@user}/slugs" %>
