<h2>Slugs</h2>

<ul>

  <li>
    <strong>Value:</strong>
    <%= @slug.value %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @slug.user_id %>
  </li>

</ul>

<%= link "Back", to: ~p"/users/#{@user}/slugs" %>
