<.page_header
  title={gettext("Edit exonym")}
  crumbs={[
    {gettext("Admin Home"), ~p"/admin"},
    {gettext("Exonyms"), ~p"/admin/exonyms"},
    gettext("Edit")
  ]}
/>

<.card_section>
  <%= render "form_content.html", backlink: ~p"/admin/exonyms", changeset: @changeset,
                          action: ~p"/admin/exonyms/#{@exonym}" %>
</.card_section>
