<.page_header
  title={gettext("All exonyms")}
  crumbs={[
    {gettext("Admin Home"), ~p"/admin"},
    gettext("Exonyms")
  ]}
/>

<div class="card-list">
  <section class="card">
    
    <%= render "card_list.html", assigns %>

    <.pager params={@conn.params} total={@exonyms_count} />

    <p>
      <%= link gettext("New exonym"), to: ~p"/admin/exonyms/new", class: "card__morelink" %>
    </p>
  </section>
</div>
