<.page_header
  title={gettext("New exonym")}
  crumbs={[
    {gettext("Admin Home"), ~p"/admin"},
    {gettext("Exonyms"), ~p"/admin/exonyms"},
    gettext("New")
  ]}
/>

<.card_section>
  <%= render "form_content.html", backlink: ~p"/admin/exonyms", changeset: @changeset,
                          action: ~p"/admin/exonyms" %>
</.card_section>
