<.page_header
  title={gettext("Edit recruiter package")}
  crumbs={[
    {gettext("Recruiter packages"), ~p"/admin/recruiter_packages"},
    gettext("Edit")
  ]}
/>

<div class="card-list">
  <section class="card jobs">
    <%= render "form_content.html", backlink: ~p"/admin/recruiter_packages", changeset: @changeset,
                            action: ~p"/admin/recruiter_packages/#{@recruiter_package}" %>
  </section>
</div>
