<.page_header
  title={gettext("Edit tag")}
  crumbs={[
    {gettext("Admin"), ~p"/admin"},
    {gettext("Tags"), ~p"/admin/tags"},
    gettext("Edit")
  ]}
/>

<.card_section>
  <%= render "form_content.html", conn: @conn, backlink: ~p"/admin/tags", changeset: @changeset,
                          action: ~p"/admin/tags/#{@tag}" %>
</.card_section>
