<.form_page
  user={@user}
  active={:messengers}
  section={{gettext("Messengers"), ~p"/settings/messengers"}}
  title={gettext("Add a messenger")}
>
  <%= render "form_content.html", backlink: ~p"/settings/messengers", changeset: @changeset, action: ~p"/settings/messengers" %>
</.form_page>
