<.page_header crumbs={[
  {gettext("Settings"), ~p"/settings"},
  {gettext("Languages"), ~p"/settings/languages"},
  gettext("New")
]} />

<.card_section>
  <%= render "form_content.html", backlink: ~p"/settings/languages", changeset: @changeset, action: ~p"/settings/languages" %>
</.card_section>
