<.form_page
  user={@user}
  active={:languages}
  section={{gettext("Languages"), ~p"/settings/languages"}}
  title={gettext("Add a language")}
>
  <%= render "form_content.html", backlink: ~p"/settings/languages", changeset: @changeset, action: ~p"/settings/languages" %>
</.form_page>
