<.form :let={f} for={%{}} action={~p"/admin/usernames"} as={:username_disable} multipart class="editform">

  <div class={"editform__field#{if error_tag(f, :value), do: " editform__field--error"}"}>
    <%= label f, :slug_name %>
    <%= text_input f, :value %>
    <%= error_tag f, :value %>
  </div>
  
  <div class="editform__actions">
    <%= submit gettext("Submit"), class: "button" %>
  </div>
</.form>
