<.page_header crumbs={[
  gettext("Users"),
  {full_name(@user), ~p"/#{@user}"},
  {gettext("Groups"), ~p"/#{@user}/groups"},
  gettext("Edit")
]} />

<.card_section>
  <%= render "form_content.html", backlink: ~p"/#{@user}/groups", changeset: @changeset, action: ~p"/#{@user}/groups/#{@group}" %>
</.card_section>
