<.page_header crumbs={[
  gettext("Users"),
  {full_name(@user), ~p"/users/#{@user}"},
  {gettext("Groups"), ~p"/users/#{@user}/groups"},
  gettext("Edit")
]} />

<.card_section>
  <%= render "form_content.html", backlink: ~p"/users/#{@user}/groups", changeset: @changeset, action: ~p"/users/#{@user}/groups/#{@group}" %>
</.card_section>
