<h2>Show group</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @group.name %>
  </li>

</ul>

<%= link "Edit", to: ~p"/users/#{@user}/groups/#{@group}/edit" %>
<%= link "Back", to: ~p"/users/#{@user}/groups" %>
