<.page_header crumbs={[
  {gettext("Settings"), ~p"/settings"},
  {gettext("Tags"), ~p"/settings/tags"},
  gettext("New")
]} />

<.card_section>
  <%= render "form_content.html", conn: @conn, backlink: ~p"/settings/tags", changeset: @changeset,
                          action: ~p"/settings/tags" %>
</.card_section>
