  <div class="profile-header">
    <div class="profile-header__info">
      <h1><%= Vutuv.Tags.UserTag.name(@user_tag) %></h1>
    </div>
  </div>
{VutuvWeb.LayoutHTML.flash(assigns)}
<div class="breadcrumbs">
  <%= gen_breadcrumbs([
    gettext("Users"),
    {full_name(@user), ~p"/users/#{@user}"},
    {gettext("Tags"), ~p"/users/#{@user}/tags"},
    gettext("Show")]) %>
</div>

<div class="card-list">

  {VutuvWeb.TagHTML.single_card(Map.put(assigns, :tag, @user_tag.tag))}

</div>
