<.page_header
  title={Vutuv.Tags.UserTag.name(@user_tag)}
  crumbs={[
    gettext("Users"),
    {full_name(@user), ~p"/users/#{@user}"},
    {gettext("Tags"), ~p"/users/#{@user}/tags"},
    gettext("Show")
  ]}
/>

<div class="card-list">

  {VutuvWeb.TagHTML.single_card(Map.put(assigns, :tag, @user_tag.tag))}

</div>
