<.page_header title={gettext("All tags")} crumbs={[gettext("Tags")]} />

<div class="card-list">
  <section class="card">
    <div class="flex flex-wrap gap-2">
      <.chip :for={tag <- @tags} navigate={~p"/tags/#{tag}"}>{tag.name || tag.slug}</.chip>
    </div>
    <.pager params={@conn.params} total={@tags_count} />
  </section>
</div>
