<% _ = assigns %>--
vutuv is a service provided by <%= Application.fetch_env!(:vutuv, :operator_name) %>. <%= Application.fetch_env!(:vutuv, :operator_url) %>
<%= Application.fetch_env!(:vutuv, :operator_address) %>
