<%= email_greeting(@user) %>,

grazie per la tua prenotazione. La tua pubblicità per il <%= @day %> è riservata:

  <%= @ad.title %>
  <%= @ad.body %>
  <%= @ad.url %>

Prezzo: <%= @price %>, pagamento su fattura. Ti invieremo la fattura per e-mail.

Controlliamo ogni pubblicità prima che vada online e ti scriveremo appena sarà
approvata. Fino ad allora puoi annullare la prenotazione gratuitamente:

<%= @url %>system/ads/bookings

<%= render "_signature_it.text" %>

<%= render "_footer.text" %>
