Stornierung einer Anzeigenbuchung
=================================

Tage:   <%= @period %><%= if @days > 1, do: " (#{@days} Tage)" %>
Preis:  <%= @price %> EUR (netto)
MwSt.:  <%= @vat_percent %> % -> <%= @gross %> EUR brutto

Storniert von @<%= @booker.username %> (<%= @url %><%= @booker.username %>),
bevor die Anzeige freigeschaltet war. Der Zeitraum ist wieder frei.

Anzeige
-------
Titel: <%= @ad.title %>
Text:  <%= @ad.body %>
Link:  <%= @ad.url %>

Rechnungsadresse
----------------
<%= @billing_address %>

Falls die Rechnung schon verschickt ist, bitte gutschreiben.
