<%= email_greeting(@user) %>,

purtroppo non possiamo pubblicare la Sua pubblicità per il <%= @day %>:

  <%= @ad.title %>
  <%= @ad.body %>
  <%= @ad.url %>

La nostra motivazione: <%= @ad.rejection_reason %>

La prenotazione è quindi annullata, non paga nulla e il giorno è di nuovo
libero. Può prenotare una nuova pubblicità qui:

<%= @url %>system/ads/new

<%= render "_signature_it.text" %>

<%= render "_footer.text" %>
