<%= email_greeting(@user) %>,

@<%= @actor_username %> wants to connect with you on vutuv.

Accept or decline on their profile:

<%= @url %><%= @actor_username %>

You can switch these notification emails off here:

<%= @unsubscribe_url %>

<%= render "_signature_en.text" %>

<%= render "_footer.text" %>
