<%= email_greeting(@user) %>,

@<%= @actor_username %> möchte sich mit Ihnen auf vutuv verbinden.

Auf dem Profil können Sie annehmen oder ablehnen:

<%= @url %><%= @actor_username %>

Diese Benachrichtigungs-E-Mails können Sie hier abschalten:

<%= @unsubscribe_url %>

<%= render "_signature_de.text" %>

<%= render "_footer.text" %>
