
<.page_header crumbs={[
  {gettext("Settings"), ~p"/#{@user}/settings"},
  {gettext("Emails"), ~p"/#{@user}/emails"},
  gettext("Edit")
]} />

<.card_section>
  <%= render "form_content.html", backlink: ~p"/#{@user}/emails", changeset: @changeset, action: ~p"/#{@user}/emails/#{@email}", delete_to: ~p"/#{@user}/emails/#{@email}", edit: true %>
</.card_section>
