<.form_page
  user={@user}
  active={:emails}
  section={{gettext("Email addresses"), ~p"/settings/emails"}}
  title={gettext("Edit email address")}
>
  <%= render "form_content.html", backlink: ~p"/settings/emails", changeset: @changeset, action: ~p"/settings/emails/#{@email}", delete_to: ~p"/settings/emails/#{@email}", edit: true %>
</.form_page>
