<%= email_greeting(@user) %>,

please use the following PIN to confirm your new email address:

  <%= @pin %>

Enter it on vutuv to finish adding this address. The PIN expires after
30 minutes.

<%= render "_signature_en.text" %>

<%= render "_footer.text" %>
