<%= email_greeting(@user) %>,

bitte bestätigen Sie Ihre neue E-Mail-Adresse mit dem folgenden PIN:

  <%= @pin %>

Geben Sie ihn auf vutuv ein, um das Hinzufügen abzuschließen. Der PIN
verfällt nach 30 Minuten.

<%= render "_signature_de.text" %>

<%= render "_footer.text" %>
