<%= email_greeting(@user) %>,

per confermare il tuo nuovo indirizzo e-mail inserisci il seguente PIN:

  <%= @pin %>

Inseriscilo su vutuv per completare l'aggiunta dell'indirizzo. Il PIN scade
dopo 30 minuti.

<%= render "_signature_it.text" %>

<%= render "_footer.text" %>
