<%= email_greeting(@user) %>,

per confermare il Suo nuovo indirizzo e-mail inserisca il seguente PIN:

  <%= @pin %>

Lo inserisca su vutuv per completare l'aggiunta dell'indirizzo. Il PIN scade
dopo 30 minuti.

<%= render "_signature_it.text" %>

<%= render "_footer.text" %>
