<%= email_greeting(@user) %>,

@<%= @actor_username %> vous a recommandé pour <%= @tag_name %> sur vutuv.

Voir son profil :

<%= @url %><%= @actor_username %>

Vous pouvez désactiver ces e-mails de notification ici :

<%= @unsubscribe_url %>

<%= render "_signature_fr.text" %>

<%= render "_footer.text" %>
