<%= email_greeting(@user) %>,

@<%= @actor_username %> ti ha approvato per <%= @tag_name %> su vutuv.

Guarda il suo profilo:

<%= @url %><%= @actor_username %>

Queste e-mail di notifica puoi disattivarle qui:

<%= @unsubscribe_url %>

<%= render "_signature_it.text" %>

<%= render "_footer.text" %>
