<%= email_greeting(@user) %>,

è stato segnalato il profilo di un membro. Le segnalazioni sui profili sono
urgenti: una seconda segnalazione indipendente blocca l'intero profilo.

  Profilo:            @<%= @owner_slug %> (<%= @url %><%= @owner_slug %>)
  Segnalato come:     <%= @category_label %>
  Segnalazioni:       <%= @report_count %><%= if @note do %>
  Nota del segnalante: <%= @note %><% end %>

Esamini il caso:

<%= @url %>admin/moderation/<%= @case_id %>

<%= render "_signature_it.text" %>

<%= render "_footer.text" %>
