
<div class="breadcrumbs">
  <%= gen_breadcrumbs([
    gettext("Users"),
    {full_name(@user), ~p"/users/#{@user}"},
    {gettext("Emails"), ~p"/users/#{@user}/emails"},
    gettext("New")]) %>
</div>

<.card_section>
  <%= render "form_content.html", backlink: ~p"/users/#{@user}/emails", changeset: @changeset, action: ~p"/users/#{@user}/emails" %>
</.card_section>
