
<.page_header crumbs={[
  {gettext("Settings"), ~p"/#{@user}/settings"},
  {gettext("Emails"), ~p"/#{@user}/emails"},
  gettext("New")
]} />

<.card_section>
  <%= render "form_content.html", backlink: ~p"/#{@user}/emails", changeset: @changeset, action: ~p"/#{@user}/emails" %>
</.card_section>
