<%= email_greeting(@user) %>,

@<%= @actor_username %> started following you on vutuv.

See their profile:

<%= @url %><%= @actor_username %>

You can switch these notification emails off here:

<%= @unsubscribe_url %>

<%= render "_signature_en.text" %>

<%= render "_footer.text" %>
