<%= email_greeting(@user) %>,

grazie per esserti iscritto a vutuv. Ecco il PIN che ti serve per accedere:

  <%= @pin %>

Il PIN scade dopo 30 minuti. Puoi sempre richiederne uno nuovo tornando su vutuv
e accedendo di nuovo.

Se il nostro servizio ti piace, parlane pure ai tuoi contatti.

<%= render "_signature_it.text" %>

<%= render "_footer.text" %>
