<%= email_greeting(@user) %>,

Jemand hat gerade versucht, mit dieser E-Mail-Adresse ein vutuv-Konto zu
erstellen. Sie haben bereits ein Konto, deshalb haben wir kein neues
angelegt.

Falls Sie das selbst waren, können Sie sich hier anmelden:
<%= @url %>login

Falls Sie das nicht waren, können Sie diese E-Mail einfach ignorieren. Es
wurde kein Konto erstellt und an Ihrem Konto hat sich nichts geändert.

<%= render "_signature_de.text" %>

<%= render "_footer.text" %>
