<%= email_greeting(@user) %>,

Thank you for joining vutuv. Here is the PIN you need to log in:

  <%= @pin %>

You can always get a new one by returning to vutuv and logging in again.

If you like our service, feel free to share us with your friends!

<%= render "_signature_en.text" %>

<%= render "_footer.text" %>
