<%= email_greeting(@user) %>,

è stato appena effettuato un accesso al tuo account vutuv. Se l'accesso è tuo,
puoi ignorare questa e-mail.

Quando:     <%= @when_text %>
Dispositivo: <%= @device %>
<%= if @location do %>Luogo:      <%= @location %>
<% end %><%= if @ip do %>IP:         <%= @ip %>
<% end %>
Perché te lo diciamo:
<%= for line <- @reason_lines do %>- <%= line %>
<% end %>
Se non riconosci questo accesso, controlla i dispositivi connessi al tuo account e disconnetti quelli che non riconosci:

<%= @devices_url %>

<%= render "_signature_it.text" %>

<%= render "_footer.text" %>
