<%= email_greeting(@user) %>,

bitte geben Sie den folgenden PIN ein, um Ihren Account zu löschen:

  <%= @pin %>

ACHTUNG: Diese Löschung ist unumkehrbar! Ihr Account wird gelöscht,
sobald Sie diesen PIN auf vutuv eingeben. Der PIN verfällt nach 30 Minuten.

Aber Sie können natürlich jederzeit einen neuen Account anlegen.

<%= render "_signature_de.text" %>

<%= render "_footer.text" %>
