<%= email_greeting(@user) %>,

per eliminare il tuo account inserisci il seguente PIN:

  <%= @pin %>

ATTENZIONE: da questo passo non si torna indietro. Il tuo account verrà
eliminato non appena inserirai questo PIN su vutuv. Il PIN scade dopo 30 minuti.

Naturalmente puoi sempre creare un nuovo account.

<%= render "_signature_it.text" %>

<%= render "_footer.text" %>
