<%= email_greeting(@user) %>,

per eliminare il Suo account inserisca il seguente PIN:

  <%= @pin %>

ATTENZIONE: da questo passo non si torna indietro. Il Suo account verrà
eliminato non appena inserirà questo PIN su vutuv. Il PIN scade dopo 30 minuti.

Naturalmente può sempre creare un nuovo account.

<%= render "_signature_it.text" %>

<%= render "_footer.text" %>
