<%= email_greeting(@user) %>,

herzlichen Glückwunsch! Ihr vutuv Account wird jetzt als
verified (verifiziert) angezeigt.

Ihr Profil zeigt jetzt ein blaues Verifizierungs-Abzeichen neben Ihrem Namen, damit Besucher auf einen Blick sehen, dass dieses Konto wirklich zu Ihnen gehört.

<%= @url %><%= @user.username %>

Wir wünschen Ihnen weiterhin viel Spass mit vutuv!

<%= render "_signature_de.text" %>

<%= render "_footer.text" %>
