<%= email_greeting(@user) %>,

congratulazioni! Il Suo account vutuv risulta ora verificato.

Sul Suo profilo compare adesso un contrassegno di verifica blu accanto al Suo
nome, così i visitatori vedono a colpo d'occhio che questo account è davvero
Suo.

<%= @url %><%= @user.username %>

<%= render "_signature_it.text" %>

<%= render "_footer.text" %>
