<%= email_greeting(@user) %>,

congratulazioni! Il tuo account vutuv risulta ora verificato.

Sul tuo profilo compare adesso un contrassegno di verifica blu accanto al tuo
nome, così i visitatori vedono a colpo d'occhio che questo account è davvero
tuo.

<%= @url %><%= @user.username %>

<%= render "_signature_it.text" %>

<%= render "_footer.text" %>
