<.page_header crumbs={[
  {gettext("Settings"), ~p"/settings"},
  {gettext("Education"), ~p"/settings/educations"},
  gettext("Edit")
]} />


<.card_section>
  <%= render "form_content.html", backlink: ~p"/settings/educations", changeset: @changeset, action: ~p"/settings/educations/#{@education}", delete_to: ~p"/settings/educations/#{@education}", current_year: @current_year %>
</.card_section>
