<.page_header
  title={gettext("Education")}
  crumbs={[
    gettext("Users"),
    {full_name(@user), ~p"/#{@user}"},
    gettext("Education")
  ]}
/>

<.card_section
  empty={Enum.empty?(@education)}
  add_href={@as_owner? && ~p"/#{@current_user}/educations/new"}
  add_label={gettext("Add education")}
>
  <%= render "card_list.html", assigns %>
</.card_section>
