<.form_page
  user={@user}
  active={:education}
  section={{gettext("Education"), ~p"/settings/educations"}}
  title={gettext("Add education")}
>
  <%= render "form_content.html", backlink: ~p"/settings/educations", changeset: @changeset, action: ~p"/settings/educations", current_year: @current_year, followers: @followers %>
</.form_page>
