<.form_page
  user={@user}
  active={:qualifications}
  section={{gettext("Certificates & licenses"), ~p"/settings/qualifications"}}
  title={gettext("Edit certificate or license")}
>
  <%= render "form_content.html", backlink: ~p"/settings/qualifications", changeset: @changeset, action: ~p"/settings/qualifications/#{@qualification}", delete_to: ~p"/settings/qualifications/#{@qualification}", qualification: @qualification, user: @user %>
</.form_page>
