<.form_page
  user={@user}
  active={:qualifications}
  section={{gettext("Certificates & licenses"), ~p"/settings/qualifications"}}
  title={gettext("Add certificate or license")}
>
  <%= render "form_content.html", backlink: ~p"/settings/qualifications", changeset: @changeset, action: ~p"/settings/qualifications", followers: @followers %>
</.form_page>
