<.page_header crumbs={[
  {gettext("Settings"), ~p"/settings"},
  {gettext("Certificates & licenses"), ~p"/settings/qualifications"},
  gettext("New")
]} />

<.card_section>
  <%= render "form_content.html", backlink: ~p"/settings/qualifications", changeset: @changeset, action: ~p"/settings/qualifications", followers: @followers %>
</.card_section>
