<.page_header title={gettext("Admin control panel")} crumbs={[gettext("Admin")]} />

<div class="card-list">
  {VutuvWeb.Admin.SlugHTML.index(%{conn: @conn})}
  {VutuvWeb.Admin.UserHTML.index(%{conn: @conn, users: @users, users_count: @users_count})}
</div>
