<.form_page
  user={@user}
  active={:links}
  section={{gettext("Links"), ~p"/settings/links"}}
  title={gettext("Edit link")}
>
  <%= render "form_content.html", backlink: ~p"/settings/links", changeset: @changeset, action: ~p"/settings/links/#{@url}", delete_to: ~p"/settings/links/#{@url}" %>
</.form_page>
