<.page_header crumbs={[
  gettext("Users"),
  {full_name(@user), ~p"/#{@user}"},
  {gettext("Links"), ~p"/#{@user}/links"},
  gettext("Edit")
]} />

<.card_section>
  <%= render "form_content.html", backlink: ~p"/#{@user}/links", changeset: @changeset, action: ~p"/#{@user}/links/#{@url}", delete_to: ~p"/#{@user}/links/#{@url}" %>
</.card_section>
