<.page_header
  title={gettext("Links belonging to ") <> full_name(@user)}
  crumbs={[
    gettext("Users"),
    {full_name(@user), ~p"/#{@user}"},
    gettext("Links")
  ]}
/>


<.card_section
  empty={Enum.empty?(@urls)}
  add_href={same_user?(@user, @current_user) && ~p"/#{@current_user}/links/new"}
>
  <%= render "card_list.html", assigns %>
</.card_section>
