
<div class="breadcrumbs">
  <%= gen_breadcrumbs([
    gettext("Users"),
    {full_name(@user), ~p"/users/#{@user}"},
    {gettext("Links"), ~p"/users/#{@user}/links"},
    gettext("New")]) %>
</div>

<.card_section>
  <%= render "form_content.html", backlink: ~p"/users/#{@user}/links", changeset: @changeset, action: ~p"/users/#{@user}/links" %>
</.card_section>
