<.form_page
  user={@user}
  active={:links}
  section={{gettext("Links"), ~p"/settings/links"}}
  title={gettext("Add a link")}
>
  <%= render "form_content.html", backlink: ~p"/settings/links", changeset: @changeset, action: ~p"/settings/links" %>
</.form_page>
