<.page_header crumbs={[
  gettext("Users"),
  {full_name(@user), ~p"/users/#{@user}"},
  {gettext("Addresses"), ~p"/users/#{@user}/addresses"},
  gettext("Edit")
]} />


<.card_section>
  <%= render "form_"<>@country<>".html", backlink: ~p"/users/#{@user}/addresses", changeset: @changeset, conn: @conn, action: ~p"/users/#{@user}/addresses/#{@address}" %>
</.card_section>
