<.page_header crumbs={[
  {gettext("Settings"), ~p"/settings"},
  {gettext("Addresses"), ~p"/settings/addresses"},
  gettext("Edit")
]} />


<.card_section>
  <%= render "form_"<>@country<>".html", backlink: ~p"/settings/addresses", changeset: @changeset, conn: @conn, action: ~p"/settings/addresses/#{@address}", delete_to: ~p"/settings/addresses/#{@address}" %>
</.card_section>
