<.form_page
  user={@user}
  active={:addresses}
  section={{gettext("Addresses"), ~p"/settings/addresses"}}
  title={gettext("Add an address")}
>
  <%= render "form_"<>@country<>".html", backlink: ~p"/settings/addresses", changeset: @changeset, conn: @conn, action: ~p"/settings/addresses" %>
</.form_page>
