<.page_header crumbs={[
  gettext("Users"),
  {full_name(@user), ~p"/#{@user}"},
  {gettext("Addresses"), ~p"/#{@user}/addresses"},
  gettext("New")
]} />


<.card_section>
  <%= render "form_"<>@country<>".html", backlink: ~p"/#{@user}/addresses", changeset: @changeset, conn: @conn, action: ~p"/#{@user}/addresses" %>
</.card_section>
