<.page_header crumbs={[
  {gettext("Settings"), ~p"/settings"},
  {gettext("Experience"), ~p"/settings/work_experiences"},
  gettext("Edit")
]} />


<.card_section>
  <%= render "form_content.html", backlink: ~p"/settings/work_experiences", changeset: @changeset, action: ~p"/settings/work_experiences/#{@work_experience}", delete_to: ~p"/settings/work_experiences/#{@work_experience}", current_year: @current_year, linked_organization: @linked_organization %>
</.card_section>
