<.form_page
  user={@user}
  active={:work}
  section={{gettext("Experience"), ~p"/settings/work_experiences"}}
  title={gettext("Edit work experience")}
>
  <%= render "form_content.html", backlink: ~p"/settings/work_experiences", changeset: @changeset, action: ~p"/settings/work_experiences/#{@work_experience}", delete_to: ~p"/settings/work_experiences/#{@work_experience}", current_year: @current_year, linked_organization: @linked_organization, qualification_options: @qualification_options %>
</.form_page>
