<.page_header
  title={gettext("Work Experiences")}
  crumbs={[
    gettext("Users"),
    {full_name(@user), ~p"/#{@user}"},
    gettext("Experience")
  ]}
/>

<.card_section
  empty={Enum.empty?(@work_experience)}
  add_href={same_user?(@user, @current_user) && ~p"/#{@current_user}/work_experiences/new"}
>
  <%= render "card_list.html", assigns %>
</.card_section>
