<.page_header crumbs={[
  {gettext("Settings"), ~p"/#{@user}/settings"},
  {gettext("Experience"), ~p"/#{@user}/work_experiences"},
  gettext("New")
]} />


<.card_section>
  <%= render "form_content.html", backlink: ~p"/#{@user}/work_experiences", changeset: @changeset, action: ~p"/#{@user}/work_experiences", current_year: @current_year %>
</.card_section>
