<.page_header
  title={gettext("Edit coupon")}
  crumbs={[
    {gettext("Coupons"), ~p"/admin/coupons"},
    gettext("Edit")
  ]}
/>

<.card_section>
  <%= render "form_content.html", backlink: ~p"/admin/coupons", changeset: @changeset,
                          action: ~p"/admin/coupons/#{@coupon}" %>
</.card_section>
