<.page_header
  title={gettext("Register an application")}
  crumbs={[
  {gettext("Developers"), ~p"/developers"},
  {gettext("Applications"), ~p"/developers/apps"},
  gettext("New")
]}
/>

<.card_section variant={:form}>
  <%= render("form_content.html",
    changeset: @changeset,
    action: ~p"/developers/apps",
    backlink: ~p"/developers/apps"
  ) %>
</.card_section>
