<.page_header
  title={gettext("Create a new job posting")}
  crumbs={[
    gettext("Users"),
    {full_name(@user), ~p"/users/#{@user}"},
    {gettext("Job postings"), ~p"/users/#{@user}/job_postings"},
    gettext("New")
  ]}
/>

<.card_section>
  <%= render "form_content.html", backlink: ~p"/users/#{@user}/job_postings", changeset: @changeset,
                          action: ~p"/users/#{@user}/job_postings" %>
</.card_section>
