
<div class="breadcrumbs">
  <%= gen_breadcrumbs([
    gettext("Users"),
    gettext("New")]) %>
</div>

<.card_section>
  <%= render "form_content.html", backlink: ~p"/", changeset: @changeset, current_user: @current_user, action: ~p"/users" %>
</.card_section>
