
<div class="breadcrumbs">
  <%= gen_breadcrumbs([
    gettext("Users"),
    gettext("New")]) %>
</div>

<div class="card-list">

  <aside>
    
  </aside>
  <section class="card">
    <%= render "form_content.html", backlink: ~p"/", changeset: @changeset, current_user: @current_user, action: ~p"/users" %>
  </section>
</div>
