<.form_page
  user={@user}
  active={:social}
  section={{gettext("Profiles"), ~p"/settings/social_media_accounts"}}
  title={gettext("Edit social media account")}
>
  <%= render "form_content.html", backlink: ~p"/settings/social_media_accounts", changeset: @changeset, action: ~p"/settings/social_media_accounts/#{@social_media_account}", delete_to: ~p"/settings/social_media_accounts/#{@social_media_account}" %>
</.form_page>
