<.form_page
  user={@user}
  active={:phones}
  section={{gettext("Phone numbers"), ~p"/settings/phone_numbers"}}
  title={gettext("Add a phone number")}
>
  <%= render "form_content.html", backlink: ~p"/settings/phone_numbers", changeset: @changeset, action: ~p"/settings/phone_numbers" %>
</.form_page>
