<.page_header crumbs={[
  {gettext("Settings"), ~p"/settings"},
  {gettext("Phone Numbers"), ~p"/settings/phone_numbers"},
  gettext("New")
]} />

<.card_section>
  <%= render "form_content.html", backlink: ~p"/settings/phone_numbers", changeset: @changeset, action: ~p"/settings/phone_numbers" %>
</.card_section>
