<.email_layout preheader="Conferma il tuo indirizzo e-mail" locale={@locale}>
  <.email_p>{email_greeting(@user)},</.email_p>
  <.email_p>per confermare il tuo nuovo indirizzo e-mail inserisci il seguente PIN:</.email_p>
  <.email_pin pin={@pin} />
  <.email_p>
    Inseriscilo su vutuv per completare l'aggiunta dell'indirizzo. Il PIN scade dopo 30 minuti.
  </.email_p>
  <.email_signature locale={@locale} />
</.email_layout>
