<.email_layout preheader="Vous avez reçu une recommandation sur vutuv" locale={@locale}>
  <.email_p>{email_greeting(@user)},</.email_p>
  <.email_p>@{@actor_username} vous a recommandé pour {@tag_name} sur vutuv.</.email_p>
  <.email_button href={"#{@url}#{@actor_username}"}>Voir son profil</.email_button>
  <.email_signature locale={@locale} />
  <.email_unsubscribe_note locale={@locale} unsubscribe_url={@unsubscribe_url} />
</.email_layout>
