<.email_layout preheader="You were endorsed on vutuv" locale={@locale}>
  <.email_p>{email_greeting(@user)},</.email_p>
  <.email_p>@{@actor_username} endorsed you for {@tag_name} on vutuv.</.email_p>
  <.email_button href={"#{@url}#{@actor_username}"}>See their profile</.email_button>
  <.email_signature locale={@locale} />
  <.email_unsubscribe_note locale={@locale} unsubscribe_url={@unsubscribe_url} />
</.email_layout>
