<.email_layout preheader="Hai ricevuto un'approvazione su vutuv" locale={@locale}>
  <.email_p>{email_greeting(@user)},</.email_p>
  <.email_p>@{@actor_username} ti ha approvato per {@tag_name} su vutuv.</.email_p>
  <.email_button href={"#{@url}#{@actor_username}"}>Guarda il suo profilo</.email_button>
  <.email_signature locale={@locale} />
  <.email_unsubscribe_note locale={@locale} unsubscribe_url={@unsubscribe_url} />
</.email_layout>
