<.email_layout preheader="Votre compte vutuv a été désactivé" locale={@locale}>
  <.email_p>{email_greeting(@user)},</.email_p>
  <.email_p>
    après une troisième infraction confirmée à nos règles de la communauté, votre compte vutuv a
    été désactivé définitivement. Vous ne pouvez plus vous connecter et votre profil n'est plus
    visible.
  </.email_p>
  <.email_p>
    Si vous estimez que cette décision est erronée, vous pouvez faire appel en répondant à cet e-mail.
  </.email_p>
  <.email_signature locale={@locale} />
</.email_layout>
