<.email_layout preheader={@preheader} locale={@locale}>
  {Phoenix.HTML.raw(@content_html)}
  <.email_muted :if={@unsubscribe_url}>
    Sie erhalten diesen Rundbrief als vutuv-Mitglied.
    <.email_link href={@unsubscribe_url}>Hier abbestellen</.email_link>.
  </.email_muted>
</.email_layout>
