<.email_layout preheader={@preheader} locale={@locale}>
  {Phoenix.HTML.raw(@content_html)}
  <.email_muted :if={@unsubscribe_url}>
    You receive this newsletter as a vutuv member.
    <.email_link href={@unsubscribe_url}>Unsubscribe</.email_link>.
  </.email_muted>
</.email_layout>
