<.email_layout preheader="You have a new message on vutuv" locale={@locale}>
  <.email_p>{email_greeting(@user)},</.email_p>
  <.email_p>you have a new message from @{@other_slug} on vutuv.</.email_p>
  <.email_button href={"#{@url}messages/#{@conversation_id}"}>Read and reply</.email_button>
  <.email_signature locale={@locale} />
  <.email_unsubscribe_note locale={@locale} unsubscribe_url={@unsubscribe_url} />
</.email_layout>
