<.email_layout preheader="Sie haben eine neue Nachricht auf vutuv" locale={@locale}>
  <.email_p>{email_greeting(@user)},</.email_p>
  <.email_p>Sie haben eine neue Nachricht von @{@other_slug} auf vutuv.</.email_p>
  <.email_button href={"#{@url}messages/#{@conversation_id}"}>Lesen und antworten</.email_button>
  <.email_signature locale={@locale} />
  <.email_unsubscribe_note locale={@locale} unsubscribe_url={@unsubscribe_url} />
</.email_layout>
